body {
  background: rgb(139, 195, 216, 0.2);
}
.weather-app-wrapper {
  border: 1px;
}
h2 {
  font-size: 170%;
}
h4 {
  font-style: italic;
  font-size: 160%;
}
h3 {
  font-size: 90px;
}
h6 {
  text-align: right;
  margin-right: 5%;
}
#search-input {
  margin-left: 5%;
  margin-top: 10%;
  width: 400px;
  border-color: rgb(144, 194, 240);
}

#city-text {
  text-align: left;
  font-size: 70px;
}
#weather-description {
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
}
ul {
  list-style: none;
}
#weather-detail {
  margin-top: 25px;
  line-height: 70px;
  display: grid;
}
.col-md-8 {
  display: flex;
  margin-left: 30px;
  align-items: center;
  justify-content: space-evenly 30px;
}
.btn {
  padding: 2px;
  display: block;
  margin-top: 32%;
  text-align: center;
  height: 34px;
  width: 150px;
  color: black;
  border-color: rgb(144, 194, 240);
  border-radius: 10px;
  background: linear-gradient(
      360deg,
      rgba(155, 35, 149, 0.1),
      rgba(161, 202, 209, 0) 10.71%
    ),
    linear-gradient(
      360deg,
      rgba(113, 201, 236, 0.8),
      rgba(26, 44, 46, 0) 70.71%
    ),
    linear-gradient(346deg, rgba(85, 85, 145, 0.01), rgba(0, 0, 255, 0) 76.71%);
}
.btn:hover {
  background: rgb(64, 170, 209);
}
#myLocation:hover {
  background: rgb(64, 170, 209);
  color: aliceblue;
}
.col-8 {
  font-size: 20px;
  font-weight: 650;
  background: rgb(207, 239, 250);
}
.col-4 {
  background: rgb(207, 237, 250);
  border-radius: 4px;
}
#icon {
  font-size: 300%;
}
#myLocation {
  margin-bottom: 20px;
  padding: 2px;
  width: 140px;
  border-style: ridge;
  border-color: rgb(144, 194, 240);
  border-radius: 10px;
  background: linear-gradient(
      360deg,
      rgba(155, 35, 149, 0.1),
      rgba(161, 202, 209, 0) 10.71%
    ),
    linear-gradient(
      360deg,
      rgba(113, 201, 236, 0.8),
      rgba(26, 44, 46, 0) 70.71%
    ),
    linear-gradient(346deg, rgba(85, 85, 145, 0.01), rgba(0, 0, 255, 0) 76.71%);
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -10px;
}
